:root {
    font-family: 'Roboto', ReithSans, freesans, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img {
    width: 75px;
    
}
.nav-list {
    background-color: black;
    margin: 0%;
    padding: 1rem 0;
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 1rem;
}

.nav-item a {
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    
}
